/CalculadoraDeMédia/nbproject/private/
/CalculadoraDeMédia/build/
/JavaFXApplication1/nbproject/private/
/JavaFXApplication1/build
/CalculadoraDeMédiaPro/nbproject/private/
/CalculadoraDeMédiaPro-Preloader/nbproject/private/
/CalculadoraDeMédiaPro/dist/
/CalculadoraDeMédiaPro/build/
/Calculadora/nbproject/private/
/Calculadora/dist/
/Calculadora/build/
/DescubraSeuSegredo/nbproject/private/
/DescubraSeuSegredo/dist/
/DescubraSeuSegredo/build/
/CalculadoraBasica/nbproject/private/
/CalculadoraIMC/nbproject/private/
/CalculadoraIMC/dist/
/CalculadoraIMC/build/
/Trabalho_M1/nbproject/private/
/Trabalho_M1/build/